body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.traffic-light {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    width: 100px;
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    background-color: #555;
}

/* Colors */
.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
